@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados */
body {
  @apply bg-gray-100 text-gray-900 antialiased; /* Color de fondo y suavizado de fuentes */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  @apply bg-gray-200 p-1 rounded-md; /* Estilo de fondo, padding y borde para los bloques de código */
}
